
<h2>New Cat Form</h2>

<form action="<%= cats_url %>" method="POST">
  <label>Birth_date:
    <input type="date" name="cat[birth_date]" value="<%= @catbirth_date %>" placeholder="birthday"/><br />
  </label>
  <input type="text" name="cat[name]" value="<%= @cat.name %>" placeholder="name"/><br />

  <input type="radio" id='male' name="cat[sex]" value="M"/>
  <label for='male'>M</label><br>
  <input type="radio" id='male' name="cat[sex]" value="F"/>
  <label for='male'>F</label><br>

  <label for="color">Color:</label>
  <select name="cat[color]" id="color">  
    <% Cat::CAT_COLORS.each do |color| %> 
        <option value="<%=color%>"> <%=color%> </option>
    <% end %>
  </select><br>

  <label for="description">Description</label>
  <textarea name="cats[description]"></textarea>





  <input type="submit" value="Create" />
</form>